<div class="row">
  <div class="small-8 columns">
    <h1>New comment</h1>
  </div>
</div>

<%= render 'comments_form' %>

<div class="row">
  <div class="small-8 columns">
    <%= link_to 'Back', posts_path %>
  </div>
</div>
