<h1>Welcome to Michael Elliott's profile page.</h1>
<p>I am from Salt Lake City, Utah, currently in Seattle. My hobbies include making music, programming, rock climbing, snowboarding, and video games. I have a dog, a cat, and a girlfriend. They are the best.</p>

<h2>The reasons you should hire me are as follows:</h2>
<ul>
  <li>I have experience in Ruby on Rails and front-end development.</li>
  <li>I have the ability to problem solve and come up with original ideas.</li>
  <li>I am a great team member- I believe learning and progress are expedited in teams.</li>
  <li>I have an extensive leadership background and strong team management skills.</li>
</ul>
<img src="/images/headshot.jpg" alt="Headshot">
<h3>Note: I am purposefully not styling this page at all for this assignment due to us getting to that later in the course, and to save time.</h3>
